<nav class="navbar  navbar-dark navbar-expand-lg  w-100 bg-danger mb-5 fixed-top"routerLink="">
    
    <div class="container-fluid">
      <a  class=" ms-5 navbar-brand"><i class="fa-solid fa-droplet fs-4x"></i><span class=" fw-bolder ms-2 fs-4">Bldonors</span></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0 fs-5">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"  aria-current="page" href="#proccess">Process</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"  aria-current="page" href="#donor">Donors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#about">About</a>
              </li>
         

        </ul>
      </div>
    </div>
  </nav>