<div class="container mt-5 py-5" id="about">
    <div class="row">
      <div class="col">
        <img style="width: 60%;" src="https://media.istockphoto.com/id/517645735/photo/nurse-bandaging-arm-after-patient-donates-blood-in-hospital-bank.webp?b=1&s=170667a&w=0&k=20&c=DW6jWFicQx2XWzHMUSCW1W8ogRLUv89AVubkR35GH7M=" alt="">
      </div>
      <div class="col ">
        <p style="width: 95%;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, voluptas. Libero culpa optio nam dolorem nostrum dolor eum explicabo quibusdam dignissimos dolorum! Culpa earum libero porro cupiditate iste et dignissimos repellendus, velit illum commodi. Nostrum.</p>
      </div>
    </div>

    <div class="row mt-5 py-5">
        <div class="col">
         <p style="width: 95%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ad aliquid excepturi doloribus earum modi et ipsa! Aspernatur assumenda dolorem reprehenderit inventore dolorum dicta porro, voluptate illo, nisi sunt vitae ratione eius nostrum. Excepturi laudantium quibusdam dolorum aliquid quasi repellendus?</p>
        </div>
        <div class="col">
          <img style="width: 60%;" src="https://images.unsplash.com/photo-1638272467280-015d9b091d67?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ymxvb2QlMjBkb25hdGlvbiUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D" alt="">
        </div>
      </div>
</div>
