<footer style="background-color:rgb(246, 246, 246);" class="d-flex">
	<div class="container flex flex-col p-4 ">
		<ul class=" d-flex  gap-5 pt-4 ">
			<li style="list-style: none;" class="fs-5 fw-bold">Shop</li>
			<li style="list-style: none;"class="fs-5 fw-bold ">About</li>
			<li style="list-style: none;" class="fs-5 fw-bold ">Blog</li>
			<li style="list-style: none;" class="fs-5 fw-bold ">Pricing</li>
			<li style="list-style: none;" class="fs-5 fw-bold ">Contact</li>
		</ul>
	</div>
		<div class="d-flex mt-5 gap-4 me-5 pe-5">
			<!-- <div class=" me-5"> -->
				<a  href="#" title="Instagram" >
					<i class="fa-brands fa-instagram fs-4 text-danger"></i>
				</a>
				<a  href="#" title="Facebook" >
					<i class="fa-brands fa-facebook fs-4 text-danger"></i>
				</a>
				<a  href="#" title="Pinterest">
					<i class="fa-brands fa-pinterest fs-4 text-danger"></i>
				</a>
				<a  href="#" title="Twitter" >
					<i class="fa-brands fa-twitter fs-4 text-danger"></i>
				</a>
				
				<a  href="#" title="Gmail" >
					<i class="fa-solid fa-envelope fs-4 text-danger"></i>
				</a>
			<!-- </div> -->
		
	</div>
</footer>